@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #85d1d6;
  border-radius: 0.25rem;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
